{% extends 'base.html' %}

{% block head %} 

{% endblock %}

{% block body %}

<div>
    <h1>Template</h1>

    <table style="border: 1px solid black; border-collapse: collapse;">
        <tr>
            <th style="border: 1px solid black;">Task</th>
            <th style="border: 1px solid black;">Added</th>
            <th style="border: 1px solid black;">Action</th>
        </tr>
        {% for task in tasks %}
            <tr>
                <td style="border: 1px solid black;">{{ task.content }}</td>
                <td style="border: 1px solid black;">{{ task.date_created.date() }}</td>
                <td style="border: 1px solid black;">
                    <a href="">Delete</a>
                    <br>
                    <a href="">Update</a>
                </td>
            </tr>
        {% endfor %}
    </table>

    <form action="/" method="post">
        <input type="text" name="content" id="content" >
        <input type="submit" value="Add">
    </form>
</div>
{% endblock %}


